<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@Model.CurrentUser.UserName:</strong>
                <span class="text-muted">@Model.Posted</span>
            </div>
            <div class="panel-body">@Model.Message</div>
        </div>
    </div>
</div>