<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(&quot;images/art-colorful-colourful-163822.jpg&quot;);color:rgb(40,81,123);"></div>
            <div class="swiper-slide" style="background-image:url(&quot;images/action-air-balance-345415 2.jpg&quot;);"></div>
            <div class="swiper-slide" style="background-image:url(&quot;images/abstract-art-blur-20721.jpg&quot;);"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Litt Om Hva Som Skjer</h2>
            <p class="text-center">Hva Som Skjer er siden du kan bruke for å holde styr på alt som skjer i miljøet ditt. 
                    Her får oppdaterte nyheter og arrangementer fra klubber du følger. Leter du etter en klubb du ikke finner? 
                    Hvorfor ikke opprette din egen, og kom i kontakt med andre som deler dine interesser. Hold styr på det som skjer, bruk Hva Som Skjer.
            </p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="images/news.png">
                <h3 class="name">NYHETER</h3>
                <p class="title">MUSIKER</p>
                <p class="description">Få meg deg hva som skjer i ditt lokalmiljø.</p>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="images/location.png">
                <h3 class="name">Arrangementer</h3>
                <p class="title">KUNSTNER</p>
                <p class="description">Finn arrangementer nær deg.</p>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="images/clo 2.png">
                <h3 class="name">KALENDER</h3>
                <p class="title">STYLIST</p>
                <p class="description">Få oversikt over hva som skjer.</p>
            </div>
        </div>
    </div>
</div>