@model IEnumerable<hva_som_skjer.Models.ClubModel>

    @{ ViewData["Title"] = "Klubber"; }


    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">KLUBBER</h2>
                <p class="text-center">Her finner du klubber som passer akkurat for deg!</p>
            </div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Sport">
                        <div class="box"  style="background-image:url(&quot;images/action-athlete-athletics-618612.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Sport</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Musikk">
                        <div class="box" style="background-image:url(&quot;images/album-black-classic-167092.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Musikk</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Teknologi">
                        <div class="box" style="background-image:url(&quot;images/abstract-art-blur-373543.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Teknologi</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Kunst">
                        <div class="box" style="background-image:url(&quot;images/art-artist-brush-102127.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Kunst</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="team-grid">
        <div class="container">
            <div class="intro"></div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Utdanning">
                        <div class="box" style="background-image:url(&quot;images/adult-aged-baby-226616.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name" style="font-size:20;">Utdanning</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Gaming">
                        <div class="box" style="background-image:url(&quot;images/blue-controller-dualshock-18174.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Gaming</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Biler">
                        <div class="box" style="background-image:url(&quot;images/automobile-automotive-car-358070.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Biler</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs" asp-route-category="Friluft">
                        <div class="box" style="background-image:url(&quot;images/backlit-beach-dawn-588561.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Friluft</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

        <div class="team-grid">
            <div class="container">
                <div class="text-center">
                    <h1>Søk etter klubber nær deg</h1>
                    <a href="Club/ClubNearYou"><button type="button" class="btn btn-lg" id="KomIGang" >  Søk  </button> </a>
                    <br><br><br><br>


                    <h1>Her kan du opprette din egen klubb</h1>
                    <p>Har du allerede en klubb eller finner du ikke det du leter etter? 
                        <br> Her kan klubben din få en egen side hvor du kan dele nyheter og sette opp handelser
                        <br>Dine nyheter vil da dukke opp på nyhetsveggen til de som følger klubben din <br>
                        og få hendelser du publiserer i sin kalender</p>
                    
                    <a href="Club/CreateClub"><button type="button" class="btn btn-lg" id="KomIGang" >  Kom i gang  </button> </a>
                    <br>
                </div>
            </div>
        </div>
<style>

#KomIGang
{
    width: 50%;
}    
</style>